**/.git
**/.env
**/.env.*
!**/.env.example
!**/.env.local.example

**/.idea
**/.vscode
**/.cursor
**/.next
**/node_modules
**/dist
**/.turbo

Directwerk/.gradle
Directwerk/**/build

**/*.md
!Directwerk/docs/build-and-deploy.md

Directwerk/docker-compose.yaml
Directwerk/scripts/
